@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}

body {
 background-color: rgba(124, 21, 220, 0.295);
  text-align: center;

}
 p{
  font-style: oblique;
 }

head{
  text-decoration-style: dotted;
}